/* --- this part is unrelated to the dark theme, just really nice to have --- */

button, select, input, textarea {
  border-radius: 4px;
}

/* search input margin */
.filter-search.hidden-sm { margin-right: 10px; }
.filter-search.hidden-sm > input { width: 100%; }

textarea {
  padding: 4px;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  height: 30ch !important;
}

/* custom style input */
.tab-settings div:last-child > section:last-child > textarea {
  height: 70ch !important;
}

/* --- end unrelated --- */

.aside-content, .page-popup, .flex.menu-buttons {
  background: #2B2B2B;
}

.flex.menu-buttons {
  color: lightgray;
}

.aside-content, .aside-menu > a.active {
  color: #A9B7C6 !important;
}

.aside-menu > a:hover {
  color: dimgray;
}

span[class^="btn"]:hover {
  background: dimgray;
}

.tab, section > h3, .page-popup .menu, .page-popup .menu .submenu {
  background: #282a36;
}

/* fix white bar at the top */
.page-popup {
  margin-top: -1em;
  padding-top: 1em;
}

.script {
  background: #313335;
}

.script.disabled {
  background: gray;
}

.script, .page-popup {
  color: lightgray;
}

.script.disabled, .script.disabled > .script-info > .script-name {
  color: white !important;
}

.script.disabled .script-buttons,
.script.disabled .menu-area {
  color: darkgray;
}

.script-buttons .disabled {
  color: #313335;
}

.script.disabled .script-buttons .disabled {
  color: gray;
}


/* Source: https://github.com/codemirror/CodeMirror/blob/master/theme/dracula.css */

.cm-s-default.CodeMirror, .cm-s-default .CodeMirror-gutters {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border: none;
}
.cm-s-default .CodeMirror-gutters { color: #282a36; }
.cm-s-default .CodeMirror-cursor { border-left: solid thin #f8f8f0; }
.cm-s-default .CodeMirror-linenumber { color: #6D8A88; }
.cm-s-default .CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-default .CodeMirror-line::selection, .cm-s-default .CodeMirror-line > span::selection, .cm-s-default .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-default .CodeMirror-line::-moz-selection, .cm-s-default .CodeMirror-line > span::-moz-selection, .cm-s-default .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-default span.cm-comment { color: #6272a4; }
.cm-s-default span.cm-string, .cm-s-default span.cm-string-2 { color: #f1fa8c; }
.cm-s-default span.cm-number { color: #bd93f9; }
.cm-s-default span.cm-variable { color: #50fa7b; }
.cm-s-default span.cm-variable-2 { color: white; }
.cm-s-default span.cm-def { color: #50fa7b; }
.cm-s-default span.cm-operator { color: #ff79c6; }
.cm-s-default span.cm-keyword { color: #ff79c6; }
.cm-s-default span.cm-atom { color: #bd93f9; }
.cm-s-default span.cm-meta { color: #f8f8f2; }
.cm-s-default span.cm-tag { color: #ff79c6; }
.cm-s-default span.cm-attribute { color: #50fa7b; }
.cm-s-default span.cm-qualifier { color: #50fa7b; }
.cm-s-default span.cm-property { color: #66d9ef; }
.cm-s-default span.cm-builtin { color: #50fa7b; }
.cm-s-default span.cm-variable-3, .cm-s-default span.cm-type { color: #ffb86c; }

.cm-s-default .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
.cm-s-default .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
